parameters:
	level: 6
	paths:
		- src
		- tests
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		# PHPUnit assertions are static but idiomatically called via $this->
		-
			identifier: staticMethod.dynamicCall
			paths:
				- tests/*